.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/yandex_v2.iml
.idea/inspectionProfiles/profiles_settings.xml
market_api/__pycache__/__init__.cpython-38.pyc
market_api/__pycache__/admin.cpython-38.pyc
market_api/__pycache__/apps.cpython-38.pyc
market_api/__pycache__/models.cpython-38.pyc
market_api/__pycache__/parsers.cpython-38.pyc
market_api/__pycache__/serializers.cpython-38.pyc
market_api/__pycache__/urls.cpython-38.pyc
market_api/__pycache__/views.cpython-38.pyc
market_api/migrations/__pycache__/__init__.cpython-38.pyc
market_api/migrations/__pycache__/0001_initial.cpython-38.pyc
market_api/migrations/__pycache__/0002_alter_shopunitstatistics_parentid.cpython-38.pyc
scratch.py
Task.md
response.json
openapi.yaml
expected.json
market/__pycache__/__init__.cpython-38.pyc
market/__pycache__/settings.cpython-38.pyc
market/__pycache__/urls.cpython-38.pyc
market/__pycache__/wsgi.cpython-38.pyc
